body {
    box-sizing: border-box;
    margin: 0;
    background-color: #222222;
    color: white;
}

.card {
    background-color: rgb(65, 0, 25);
}
  
.bg_dark {
    background: rgb(153, 218, 230);
    color: black;  
}
.bg_card {
    color: white;
    background-color: rgb(169, 0, 65);
}

