<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/body.css">

    <title>Mijn portfolio! - About</title>
  </head>
  <div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="../public/Home.HTML">
                    <img class="logo" src="../public/Pictures/profile%20pic.png" alt="showing Logo" width="100" height="auto">
                </a>
            </div>
            <div class="col-sm-6">
                <ul class="NavLinks">
                    <li><a href="../public/Home.HTML">Home</a></li>
                    <li><a href="projects.php">Projects</a></li>
                    <li><a href="about.HTML">About</a></li>
                    <li><a href="Contact.php">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <button class="themeToggle">Themes Toggle</button>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <h1>Vaardigheden en kennis</h1>

        <p>
            Ik kan nu met de basis van C#, Javascript, HTML en CSS programmeren.
        </p>


        <h1>Beroeps verslag</h1>

        <p>
Ik heb aan een bekende van mij die als Fullstack (ASP).NET Developer en Engineer C# werkt. Meestal valt hij in voor andere bedrijven wanneer projecten uitlopen. <br> <br>


Je hebt vele skills om een goede programmeur te worden woorden. Als je niet vrijwillig bent om veel zelf uit te zoeken en veel zelf te ontwikkelen ga je niet veer komen. Je leert namelijk heel veel als je het ook echt wilt leren. <br> <br>
Communiceren is ook heel erg belangrijk. Als je niet goed kunt communiceren maak je misschien niet de applicatie die de werkgever in zijn/haar hoofd heeft. <br> <br>
Zelfstandigheid gaat hand in hand met leergierigheid en zelf ontwikkelen. Veel dingen moet je zelf kunnen en zelf doen. Als je veel wilt leren en jezelf wilt verder ontwikkelen is het handig als je zelf ook veel dingen kan uitzoeken, zonder hulp. <br> <br>
Als tegenovergestelde van zelfstandigheid is op tijd help vragen wanneer je vastloopt. Te veel mensen doen dit pas te laat waardoor je het hele team achter laat lopen. <br> <br> <br>


Ik heb hem gevraagd wat de taken zijn bij zijn werk als programmeur. <br> <br>
Communiceren met klanten is heel belangrijk. <br> <br>
Applicaties goed kunnen designen en in een UML’s kunnen uitschrijven. <br> <br>
Uitwerken en opzetten van een database design. <br> <br>
Ontwikkelaars managen, begeleiden door bijvoorbeeld met git, code controleren en natuurlijk het ook zelf schrijven.

        </p>
        
    </div>
    
    







    <footer class="text-center text-lg-start">
        <div class="text-center">
        <p>Daniel Möller</p>
        </div>
    </footer>  

    <script src="../Modules/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>