<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/body.css">

    <title>Mijn portfolio! - About</title>
  </head>
  <body>
    <div class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href="../public/Home.HTML">
                        <img class="logo" src="../public/Pictures/profile%20pic.png" alt="showing Logo" width="100" height="auto">
                    </a>
                </div>
                <div class="col-sm-6">
                    <ul class="NavLinks">
                        <li><a href="../public/Home.HTML">Home</a></li>
                        <li><a href="projects.php">Projects</a></li>
                        <li><a href="about.HTML">About</a></li>
                        <li><a href="Contact.php">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <button class="themeToggle">Themes Toggle</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>HogerLager Game</h1>

        <p>
            In hoger of lager gooi je een dobbelsteen en trekt zo veel kaarten als de ogen van de gegooide dobbelsteen. <br>
            Dan kun je die kaarten gebruiken om zo dich mogelijk te komen bij de 25. 
        </p>

        <img src="../public/Pictures/Game%20start.JPG" alt="Start of the game" width="400" height="auto"> <br>
        <img src="../public/Pictures/The%20game.JPG" alt="Start of the game" width="400" height="auto"> <br>
        <img src="../public/Pictures/Wins.JPG" alt="Start of the game" width="400" height="auto">
    </div>
    
    <footer class="text-center text-lg-start">
        <div class="text-center">
        <p>Daniel Möller</p>
        </div>
    </footer>  

    <script src="../Modules/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>